ListasSarlaft/Web References/wsInspektorPrd/wsinspektor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoadWSInspektor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Numeiden" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadWSInspektorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadWSInspektorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoadWSInspektorSoapIn">
    <wsdl:part name="parameters" element="tns:LoadWSInspektor" />
  </wsdl:message>
  <wsdl:message name="LoadWSInspektorSoapOut">
    <wsdl:part name="parameters" element="tns:LoadWSInspektorResponse" />
  </wsdl:message>
  <wsdl:message name="LoadWSInspektorHttpGetIn">
    <wsdl:part name="Numeiden" type="s:string" />
    <wsdl:part name="Nombre" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadWSInspektorHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoadWSInspektorHttpPostIn">
    <wsdl:part name="Numeiden" type="s:string" />
    <wsdl:part name="Nombre" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadWSInspektorHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WSInspektorSoap">
    <wsdl:operation name="LoadWSInspektor">
      <wsdl:input message="tns:LoadWSInspektorSoapIn" />
      <wsdl:output message="tns:LoadWSInspektorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSInspektorHttpGet">
    <wsdl:operation name="LoadWSInspektor">
      <wsdl:input message="tns:LoadWSInspektorHttpGetIn" />
      <wsdl:output message="tns:LoadWSInspektorHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSInspektorHttpPost">
    <wsdl:operation name="LoadWSInspektor">
      <wsdl:input message="tns:LoadWSInspektorHttpPostIn" />
      <wsdl:output message="tns:LoadWSInspektorHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSInspektorSoap" type="tns:WSInspektorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadWSInspektor">
      <soap:operation soapAction="http://tempuri.org/LoadWSInspektor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSInspektorSoap12" type="tns:WSInspektorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadWSInspektor">
      <soap12:operation soapAction="http://tempuri.org/LoadWSInspektor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSInspektorHttpGet" type="tns:WSInspektorHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LoadWSInspektor">
      <http:operation location="/LoadWSInspektor" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSInspektorHttpPost" type="tns:WSInspektorHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LoadWSInspektor">
      <http:operation location="/LoadWSInspektor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSInspektor">
    <wsdl:port name="WSInspektorSoap" binding="tns:WSInspektorSoap">
      <soap:address location="https://inspektor.datalaft.com:2041/wsinspektor.asmx" />
    </wsdl:port>
    <wsdl:port name="WSInspektorSoap12" binding="tns:WSInspektorSoap12">
      <soap12:address location="https://inspektor.datalaft.com:2041/wsinspektor.asmx" />
    </wsdl:port>
    <wsdl:port name="WSInspektorHttpGet" binding="tns:WSInspektorHttpGet">
      <http:address location="https://inspektor.datalaft.com:2041/wsinspektor.asmx" />
    </wsdl:port>
    <wsdl:port name="WSInspektorHttpPost" binding="tns:WSInspektorHttpPost">
      <http:address location="https://inspektor.datalaft.com:2041/wsinspektor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>