ListasSarlaft/Service References/ServiceReference1/WebServiceListas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaListas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Numeiden" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaListasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaListasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaListasSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaListas" />
  </wsdl:message>
  <wsdl:message name="ConsultaListasSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaListasResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaListasHttpGetIn">
    <wsdl:part name="Numeiden" type="s:string" />
    <wsdl:part name="Nombre" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaListasHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaListasHttpPostIn">
    <wsdl:part name="Numeiden" type="s:string" />
    <wsdl:part name="Nombre" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaListasHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebServiceListasSoap">
    <wsdl:operation name="ConsultaListas">
      <wsdl:input message="tns:ConsultaListasSoapIn" />
      <wsdl:output message="tns:ConsultaListasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceListasHttpGet">
    <wsdl:operation name="ConsultaListas">
      <wsdl:input message="tns:ConsultaListasHttpGetIn" />
      <wsdl:output message="tns:ConsultaListasHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceListasHttpPost">
    <wsdl:operation name="ConsultaListas">
      <wsdl:input message="tns:ConsultaListasHttpPostIn" />
      <wsdl:output message="tns:ConsultaListasHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceListasSoap" type="tns:WebServiceListasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaListas">
      <soap:operation soapAction="http://tempuri.org/ConsultaListas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceListasSoap12" type="tns:WebServiceListasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaListas">
      <soap12:operation soapAction="http://tempuri.org/ConsultaListas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceListasHttpGet" type="tns:WebServiceListasHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ConsultaListas">
      <http:operation location="/ConsultaListas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceListasHttpPost" type="tns:WebServiceListasHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ConsultaListas">
      <http:operation location="/ConsultaListas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceListas">
    <wsdl:port name="WebServiceListasSoap" binding="tns:WebServiceListasSoap">
      <soap:address location="http://inspektor.datalaft.com:2024/WebServiceListas.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceListasSoap12" binding="tns:WebServiceListasSoap12">
      <soap12:address location="http://inspektor.datalaft.com:2024/WebServiceListas.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceListasHttpGet" binding="tns:WebServiceListasHttpGet">
      <http:address location="http://inspektor.datalaft.com:2024/WebServiceListas.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceListasHttpPost" binding="tns:WebServiceListasHttpPost">
      <http:address location="http://inspektor.datalaft.com:2024/WebServiceListas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>